<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <h2>Static subtitle</h2>
    <div>
        {% if tasks %}
            {% for task in tasks %}
                <div>{{ task.id }} {{ task.titke }} -- {{ task.priority }}</div>
            {% endfor %}
            {% else %}
                <div>No tasks</div>
            {% endif %}
    </div>
</body>
</html>